header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cabecalho{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
    }
    
    .logo{
        a{
            color: rgb(101, 101, 101);
            font-size: 40px;
            padding: 20px 50px;
            font-family: "Cal Sans", sans-serif;
            span{
                color: rgb(4, 225, 225);
            }
        }
    }
    .menu_navegacao{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 25px;
        padding: 20px;
        a{
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            color: rgb(101, 101, 101);
            &:hover{
                text-decoration: underline;
                text-decoration-color: rgb(4, 225, 225) ;
            }
        }
    }
}
main{
    padding-left: 75px;
    .home{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        min-height: 100vh;
        .homehome{
            h1{
            font-family: "Cal Sans", sans-serif;
            font-size: 50px;
            font-weight: bold;
            color:rgb(73, 73, 73);
            span{
                color: rgb(4, 225, 225);
            }
            }
            h2{
                font-family: "Cal Sans", sans-serif;
                font-weight: bold;
                margin-top: 15px;
                font-size: 35px;
                color:rgb(73, 73, 73);
            }
            p{
                margin-top: 15px ;
                font-size: 20px;
                font-family: "Montserrat", sans-serif;
                line-height: 1.6;
                color:rgb(73, 73, 73);
            }
            .button{
                margin-top: 40px;
                .btn01{
                    background-color: rgb(4, 225, 225);
                    color: white;
                    font-family: "Cal Sans", sans-serif;
                    font-size: 20px;
                    padding: 11px 20px;
                    border-radius: 10px;


                }
                .btn02{
                    margin-left: 20px;
                    font-family: "Cal Sans", sans-serif;
                    font-size: 20px;
                    padding: 10px 20px;
                    border: 2px solid rgb(4, 225, 225);
                    color: rgb(73, 73, 73);
                    border-radius: 10px;
                }
            }
            }
            .minha_foto{
                margin-top: 60px;
                
                img{ 
                width: 630px;
                height: 675px;
            }
            }
    }

    .sobre{
        min-height: 100vh;
        margin-top: 30px;
        display: flex;
        align-items: start;
        flex-direction: column;
        padding: 25px 70px;
        scroll-margin-top: 120px;
        h2{
            color: rgb(4, 225, 225) ;
            font-family: "Cal Sans", sans-serif;
            font-size: 45px;
            text-align: center;
            margin-bottom: 40px;
        }
        p{
            color: rgb(101, 101, 101);
            font-size: 25px;
            font-family: "Montserrat", sans-serif;
            line-height: 1.5;
        }
        .linguagens{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            padding: 40px;
            gap: 40px;
            margin-top: 25px;
            h3{
                font-size: 30px;
                text-align: center;
                color: rgb(4, 225, 225) ;
                font-family: "Cal Sans", sans-serif;
            }
            .logo_linguagens{
                display: flex;
                flex-direction: row;
                gap: 20px;
                img{
                width: 100px;
                height: 100px;

            }
            }
        }
    }
    .projetos{ 
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 10px;
        .meus_projetos{
            
            h2{
                text-align: center;
                color: rgb(4, 225, 225) ;
                font-family: "Cal Sans", sans-serif;
                font-size: 45px;
                margin-bottom: 40px;
            }
            .pj{
                display: grid;
                grid-template-columns: repeat(2, 450px);
                justify-content: center;
                align-items: center;
                border: 3px solid rgb(4, 225, 225);
                border-radius: 15px;
                transition: 0.7s ease-in-out;
                margin-top: 25px;
                &:hover{
                    transform: scale(1.07);
                }
                .foto_projeto{
                    width: 400px;
                    height: 250px;
                    margin-left: 25px;
                    margin-bottom: 5px;
                    border-radius: 35px;
                    padding: 10px;
                }
                .descricao_projeto{
                    margin-top: 45px;
                    h3{
                        font-size: 30px;
                        text-align: center;
                        font-family: "Cal Sans", sans-serif;
                        color: rgb(4, 225, 225)
                    }
                    p{
                        font-size: 20px;
                        line-height: 1.5;
                        padding: 10px 10px;
                        text-align: center;
                        font-family: "Montserrat", sans-serif;
                    }
                }
                .links{
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                    padding: 10px;
                }
                .links a {
                    display: flex;
                    align-items: center;  
                    flex-direction: row;
                    text-decoration: none;
                    color: black; 
                    font-size: 20px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    background-color:rgb(4, 225, 225);
                    border-radius: 15px;
                    padding: 10px 10px;
                    transition: 0.5s ease-in-out;
                    &:hover{
                        transform: scale(1.08);
                        background-color: rgb(153, 240, 240);
                    }

                    }
                .links img {
                    width: 24px; /* Ajuste conforme necessário */
                    height: auto;
                    }
                .link1 img{
                    margin-right: 5px;
                }
            }
        }
    }
}
footer{
    .contato{
        margin-top: 25px;
        border-top: 2px solid black;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            padding: 20px;
            .linkedin i{
                background-color: rgb(255, 255, 255);
                padding: 10px;
                border: 2px solid black;
                border-radius: 30px;
                transition: 0.5s ease-in-out;
                font-size: 30px;
                &:hover{
                    transform: scale(1.09);
                    background-color: #0077B5;
                    color: white;
                }
            }
            .github i{
                background-color: rgb(255, 255, 255);
                padding: 10px;
                border: 2px solid black;
                border-radius: 30px;
                transition: 0.5s ease-in-out;
                font-size: 30px;
                &:hover{
                    transform: scale(1.09);
                    color: white;
                    background-color: rgb(0, 0, 0);
                }
            }
            .whatsapp i{
                background-color: rgb(255, 255, 255);
                padding: 10px;
                border: 2px solid black;
                border-radius: 30px;
                transition: 0.5s ease-in-out;
                font-size: 30px;
                &:hover{
                    transform: scale(1.09);
                    background-color: #25D366;
                    color: white;
                }
            }
        }
    }
    .direitos_autorais{
        text-align: center;
        font-family: "Cal Sans", sans-serif;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    header{
    .cabecalho{
        display: flex;
        justify-content: center;
        background-color: white;
    }
    
    .logo{
        a{
            color: rgb(101, 101, 101);
            font-size: 20px;
            padding: 15px 30px;
            font-family: "Cal Sans", sans-serif;
            span{
                color: rgb(4, 225, 225);
            }
        }
    }
    .menu_navegacao{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        padding: 10px;
        a{
            font-family: "Montserrat", sans-serif;
            font-size: 12px;
            color: rgb(101, 101, 101);
            &:hover{
                text-decoration: underline;
                text-decoration-color: rgb(4, 225, 225) ;
            }
        }
    }
}
main{
    padding-left: 20px;
    .home{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .homehome{
            display: flex;
            flex-direction: column;
            gap: 2px;
            h1{
            font-family: "Cal Sans", sans-serif;
            font-size: 30px;
            font-weight: bold;
            color:rgb(73, 73, 73);
            span{
                color: rgb(4, 225, 225);
            }
            }
            h2{
                font-family: "Cal Sans", sans-serif;
                font-weight: bold;
                margin-top: 15px;
                font-size: 20px;
                color:rgb(73, 73, 73);
            }
            p{
                margin-top: 15px ;
                font-size: 10px;
                font-family: "Montserrat", sans-serif;
                line-height: 1.6;
                color:rgb(73, 73, 73);
            }
            .button{
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .btn01{
                    width: 100px;
                    background-color: rgb(4, 225, 225);
                    color: white;
                    font-family: "Cal Sans", sans-serif;
                    font-size: 12px;
                    padding: 8px 15px;
                    border-radius: 10px;


                }
                .btn02{
                    width: 100px;
                    font-family: "Cal Sans", sans-serif;
                    font-size: 12px;
                    padding: 7px 15px;
                    border: 2px solid rgb(4, 225, 225);
                    color: rgb(73, 73, 73);
                    border-radius: 10px;
                }
            }
            }
            .minha_foto{
                margin-top: 20px;
                img{ 
                width: 250px;
                height: 450px;
            }
            }
    }

    .sobre{
        min-height: 100vh;
        margin-top: 80px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px 15px;
        scroll-margin-top: 120px;
        h2{
            color: rgb(4, 225, 225) ;
            font-family: "Cal Sans", sans-serif;
            font-size: 35px;
            text-align: center;
            margin-bottom: 10px;
        }
        p{
            color: rgb(101, 101, 101);
            font-size: 15px;
            font-family: "Montserrat", sans-serif;
            line-height: 1.5;
        }
        .linguagens{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px;
            gap: 20px;
            margin-top: 15px;
            h3{
                font-size: 25px;
                text-align: center;
                color: rgb(4, 225, 225) ;
                font-family: "Cal Sans", sans-serif;
            }
            .logo_linguagens{
                display: grid;
                grid-template-columns: repeat(2, 100px);
                gap: 20px;
                img{
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }
    .projetos{ 
        margin-top: 20px;
        .meus_projetos{
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
            h2{
                text-align: center;
                color: rgb(4, 225, 225) ;
                font-family: "Cal Sans", sans-serif;
                font-size: 30px;
            }
            .projects{
                display: grid;
                grid-template-rows: repeat(250px);
                justify-content: center;
                align-items: center;
            }
            .pj{
                height: 320px;
                width: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 3px solid rgb(4, 225, 225);
                border-radius: 15px;
                transition: 0.7s ease-in-out;
                margin-top: 15px;
                &:hover{
                    transform: scale(1.07);
                }
                .foto_projeto{
                    width: 225px;
                    height: 150px;
                    margin-left: 25px;
                    margin-bottom: 5px;
                    border-radius: 35px;
                    padding: 10px;
                }
                .descricao_projeto{
                    margin-top: 15px;
                    h3{
                        font-size: 20px;
                        text-align: center;
                        font-family: "Cal Sans", sans-serif;
                        color: rgb(4, 225, 225)
                    }
                    p{
                        font-size: 10px;
                        line-height: 1.5;
                        padding: 10px 10px;
                        text-align: center;
                        font-family: "Montserrat", sans-serif;
                    }
                }
                .links{
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                    padding: 10px;
                }
                .links a {
                    display: flex;
                    align-items: center;  
                    flex-direction: row;
                    text-decoration: none;
                    color: black; 
                    font-size: 12px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    background-color:rgb(4, 225, 225);
                    border-radius: 15px;
                    padding: 8px;
                    transition: 0.5s ease-in-out;
                    &:hover{
                        transform: scale(1.08);
                        background-color: rgb(153, 240, 240);
                    }

                    }
                .links img {
                    width: 15px; /* Ajuste conforme necessário */
                    height: auto;
                    }
                .link1 img{
                    margin-right: 5px;
                }
            }
        }
    }
}
footer{
    .contato{
        margin-top: 25px;
        border-top: 2px solid black;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            padding: 20px;
            .linkedin i{
                background-color: rgb(255, 255, 255);
                padding: 10px;
                border: 2px solid black;
                border-radius: 30px;
                transition: 0.5s ease-in-out;
                font-size: 20px;
                &:hover{
                    transform: scale(1.09);
                    background-color: #0077B5;
                    color: white;
                }
            }
            .github i{
                background-color: rgb(255, 255, 255);
                padding: 10px;
                border: 2px solid black;
                border-radius: 30px;
                transition: 0.5s ease-in-out;
                font-size: 20px;
                &:hover{
                    transform: scale(1.09);
                    color: white;
                    background-color: rgb(0, 0, 0);
                }
            }
            .whatsapp i{
                background-color: rgb(255, 255, 255);
                padding: 10px;
                border: 2px solid black;
                border-radius: 30px;
                transition: 0.5s ease-in-out;
                font-size: 20px;
                &:hover{
                    transform: scale(1.09);
                    background-color: #25D366;
                    color: white;
                }
            }
        }
    }
    .direitos_autorais{
        text-align: center;
        font-family: "Cal Sans", sans-serif;
        padding: 10px;
        p{
            font-size: 15px;
        }
    }
}
}
